{% extends 'template/template.html.twig' %}

{% block body %}
    {% if action == 'edit' %}
        <form class="pageAdd" method="post" action="/admin/pages/{{ page.id }}/edit">
    {% else %}
        <form class="pageAdd" method="post" action="/admin/pages/create">
    {% endif %}
        <div class="pageAdd__content">
            <h2 class="pageAdd__title">
                {% if action == 'edit' %}
                    Edit page
                {% else %}
                    Create a page
                {% endif %}
            </h2>
            <div>
                <div>
                    <label class="page__label" for="title">Your title</label>
                </div>
                <input class="page__input" name="title" type="text" value="{{ page.title ?? '' }}">
                <div>
                    <label class="page__label" for="slug">Your slug</label>
                </div>
                <input class="page__input" name="slug" type="text" value="{{ page.slug ?? '' }}">
            </div>
            <div>
                <textarea name="content" placeholder="Enter your contents">
                    {{ page.content ?? '' }}
                </textarea>
            </div>
            <div class="pageAdd__buttonAdd">
                <button type="submit" class="rkmd-btn btn-green ripple-effect btn-lg">{{ action }}</button>
            </div>
        </div>
        <div class="pageAdd__aside">
            <div class="pageAdd__aside__card">
                <h3 class="pageAdd__aside__title">Choose your page's visibility</h3>
                <p>{% if page.visibility %}Actual state :{% else %}Choose a state{% endif %}
                    {% if page.visibility %}
                        <span>Visible</span>
                    {% else %}
                        <span>Invisible</span>
                    {% endif %}
                <div>
                    <button class="pageAdd__button pageAdd__button--visibility"
                            title="choose visibility of the page">{% if page.visibility %}Visible{% else %}Invisible{% endif %}
                    </button>
                    <input class="input--invisible" name="visibility" id="visibilityPage" type="number" value="{{ page.visibility ?? 0 }}">
                </div>
                </p>
            </div>
        </div>
    </form>
    <script src="/script/createPage.js"></script>
{% endblock %}