{% extends 'template/template.html.twig' %}


{% block body %}
    <div class="articleList">
        <div class="articleList__cardList">
            <div class="articleList__cardItem">
                <p class="articleList__cardItem__title">Number of posts</p>
                <p id="numberPost" class="articleList__cardItem__value">

                </p>
            </div>
        </div>
        <div class="articleList__content">
            <h2 class="article__title">List of articles</h2>
            <div class="table__container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Creation</th>
                        <th>Last modification</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Visibility</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr class="table__parent">
                            <td class="table__id"><a class="link" href="/admin/posts/{{ post.id }}/edit">{{ post.id }}</a></td>
                            <td><a class="link" href="/admin/posts/{{ post.id }}/edit">{{ post.created_at }}</a></td>
                            <td><a class="link" href="/admin/posts/{{ post.id }}/edit">{{ post.updated_at }}</a></td>
                            <td class="table__title"><a class="link" href="/admin/posts/{{ post.id }}/edit">{{ post.title }}</a></td>
                            <td><a class="link" href="/admin/posts/{{ post.id }}/edit">{{ post.slug }}</a></td>
                            {% if post.visibility == 1 %}
                                <td><a class="link" href="/admin/posts/{{ post.id }}/edit">Visible</a></td>
                            {% else %}
                                <td><a class="link" href="/admin/posts/{{ post.id }}/edit">Invisible</a></td>
                            {% endif %}
                            <td class="table__buttonContainer">
                                <a href="/admin/posts/{{ post.id }}/edit" class="link table__button table__button--edit">Editer</a>
                                <a href="/admin/posts/{{ post.id }}/delete" class="table__button table__button--delete">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="/admin/posts/create" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float: left;margin-top: 20px;">ADD</a>
        </div>
    </div>
    <script src="/script/listingPost.js"></script>
{% endblock %}